body{
    font-family: "Verdana", sans-serif;
   color: #444444


;
    background: linear-gradient(#ffffff, #f5f7fa, #ffeef7);
    padding-bottom: 200px;
}

header{
    background-color: #ffeef7;
    padding: 10px;
}

h1{
    display:flex;
    justify-content: center;
}

main{
    padding-top: 20px;
    padding-left: 10px;
}
.flex-container{
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    background: #fffafd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
